name: Ruby
env:
  EB_PACKAGE_S3_BUCKET_NAME : "flash-githubdeploy"
  EB_APPLICATION_NAME       : "Stalkdemo"
  EB_ENVIRONMENT_NAME       : "Stalkdemo-env"
  DEPLOY_PACKAGE_NAME       : "flash-githubdeploy-${{ github.sha }}.zip"
  AWS_REGION_NAME           : "us-east-1"

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        version: 2.6.x
    - name: Build
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: lint
      run: bundle exec rubocop
    - name: rspec
      run: bundle exec rspec
    - name: Create ZIP deployment package
      run : zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./  -x  *.git*
           
    - name: Configure my AWS Credentils
      uses: aws-actions/configure-aws-credentials@v1
      with:
             aws-access-key-id    : ${{ secrets.MY_AWS_ACCESS_KEY }}
             aws-secret-access-key: ${{ secrets.MY_AWS_SECRET_KEY }}
             aws-region           : ${{ env.AWS_REGION_NAME }}

    - name: Copy our Deployment package to S3 bucket
      run : aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{ env.EB_PACKAGE_S3_BUCKET_NAME}}/
   
  my_cd_pipeline:
     runs-on: ubuntu-latest
     needs: [build]   
    
     steps:
      - name: Configure my AWS Credentils
        uses: aws-actions/configure-aws-credentials@v1
        with:
             aws-access-key-id    : ${{ secrets.MY_AWS_ACCESS_KEY }}
             aws-secret-access-key: ${{ secrets.MY_AWS_SECRET_KEY }}
             aws-region           : ${{ env.AWS_REGION_NAME }}
         
      - name: Create new ElasticBeanstalk Applicaiton Version
        run : |
            aws elasticbeanstalk create-application-version \
            --application-name ${{ env.EB_APPLICATION_NAME }} \
            --source-bundle S3Bucket="${{ env.EB_PACKAGE_S3_BUCKET_NAME }}",S3Key="${{ env.DEPLOY_PACKAGE_NAME }}" \
            --version-label "Ver-${{ github.sha }}" \
            --description "CommitSHA-${{ github.sha }}"
      - name: Deploy our new Application Version
        run : aws elasticbeanstalk update-environment --environment-name ${{ env.EB_ENVIRONMENT_NAME }} --version-label "Ver-${{ github.sha }}" }}"
